pykg2vec/
.ipynb_checkpoints/
KG_Covid/

UMLS_KG/embeddings/
UMLS_KG/entity2idx.pkl
UMLS_KG/hr_t.pkl
UMLS_KG/hr_t_train.pkl
UMLS_KG/idx2entity.pkl
UMLS_KG/idx2relation.pkl
UMLS_KG/intermediate/
UMLS_KG/metadata.pkl
UMLS_KG/relation2idx.pkl
UMLS_KG/relationproperty.pkl
UMLS_KG/results/
UMLS_KG/tr_h.pkl
UMLS_KG/tr_h_train.pkl
UMLS_KG/triplets_test.pkl
UMLS_KG/triplets_train.pkl
UMLS_KG/triplets_valid.pkl

metamap_output.json
covidquestions.txt
umls.db
